pkgbase = omapic-bin
	pkgdesc = Cut horizontal/vertical bands out of images (Snagit-style cut-out) for Wayland/Hyprland
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/sspaeti/omapic
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = qt6-base
	depends = qt6-declarative
	depends = wl-clipboard
	depends = xdg-desktop-portal
	provides = omapic
	conflicts = omapic
	source_x86_64 = omapic-x86_64-0.1.0.tgz::https://github.com/sspaeti/omapic/releases/download/v0.1.0/omapic_0.1.0_linux_amd64.tar.gz
	sha256sums_x86_64 = SKIP
	source_aarch64 = omapic-aarch64-0.1.0.tgz::https://github.com/sspaeti/omapic/releases/download/v0.1.0/omapic_0.1.0_linux_arm64.tar.gz
	sha256sums_aarch64 = SKIP

pkgname = omapic-bin
